@defaultFont: PingFang SC, Microsoft YaHei UI;

@appBackground: #F1F1F1;
@appText: #4A4A4A;

@hintText: rgba(255, 255, 255, 0.8);
@hintBackground: rgba(0, 0, 0, 0.5);
@hintShadow: rgba(0, 0, 0, 0.5);

@helperBackground: rgba(0, 0, 0, 0.7);
@maskFilterColor: rgba(0, 0, 0, 0.5);

@reloadHintBackground: white;
@reloadHintShadow: rgba(0, 0, 0, 0.5);
@reloadHintStartColor: #EF5A50;
@reloadHintFinishColor: #71B4E0;

@headerHeight: 40px;
@headerBackground: white;
@headerText: #2B2B2B;
@headerMargin: 0;
@headerShadow: none;

@footerHeight: 50px;
@footerIconSize: 20px;
@footerBackground: #F8F8F8;
@footerFrontground: #9B9B9B;
@footerFrontgroundHighlight: #71B4E0;
@footerMargin: 1px;
@footerShadow: 0 0 1px #B2B2B2;

@photoNavColor: white;
@photoNavShadow: rgba(0, 0, 0, 0.5);

@dialogBackground: white;
@dialogShadow: rgba(0, 0, 0, 0.5);

@photoViewBtnBackground: white;
@photoViewBtnActiveBackground: #e6e6e6;
@photoViewBtnShadow: #BABABA;
@photoViewBtnActiveShadow: #adadad;
@photoViewBtnText: #3E3E3E;
@photoViewBtnActiveText: #333333;

@roundCloseBackground: white;
@roundCloseFrontground: gray;
@roundCloseShadow: gray;

@loadingMaskFilter: blur(4px) brightness(0.9);;
@loadingWidth: 120px;
@loadingHeight: 100px;
@loadingColor1: rgba(255, 255, 255, 0.5);
@loadingColor2: rgba(255, 255, 255, 0.5);
@loadingColor3: rgba(255, 255, 255, 0.5);
@loadingText: rgba(255, 255, 255, 0.5);
@loadingBackground: rgba(0, 0, 0, 0.666666666);
@loadingShadow: rgba(0, 0, 0, 0.5);
@loadingRadius: 8px;

@readableBackground: white;

@primaryBtnBackground: #EF5A50;
@primaryBtnActiveBackground: #F23D2C;
@primaryBtnText: white;
@primaryBtnActiveText: white;

@secondryBtnBackground: #f7f7f7;
@secondryBtnActiveBackground: #e6e6e6;
@secondryBtnText: #3E3E3E;
@secondryBtnActiveText: #333333;