@themeColor:#fd8a32;
@themeAltColor:#1abc9c;
@themeBackground:#fffbf0;

@appBackground : #f0f0f0;
@appText : #666666;

@headerBackground : #fef7f0;
@headerText : #333333;
@headerBorder : #b2b2b2;
@subTitleText: #a8a8a8;

@footerBackground : #f9f9f9;
@footerText : #a0a0a0;

@formInputBorder: #bbbbbb;
@formInputBackground: #ffffff;
@formInputColor: #333333;
@formInputIco: #a0a0a0;

@formInputErrorBorder: red;
@formInputErrorBackground: #ffffff;
@formInputErrorColor: #333333;
@formInputErrorIco: red;

@menuBackground : #ffffff;
@menuText : #333333;
@menuArrowColor: #a0a0a0;

@buttonText : #ff8b33;
@buttonBackground :#fff8f1;
@buttonBorder : #fdb984;

@buttonAltText : #1abc9c;
@buttonAltBackground :#d1fdf4;
@buttonAltBorder : #1abc9c;

@openWindowBackgrond : rgba(255,255,255,0.9);
@popupBorder : rgba(158,158,158,0.9);

@defaultfont: PingFang SC, Heiti SC, Droid Sans, Microsoft YaHei UI;